TOGETHER_API_KEY=fef5e74f491a889ec15d4456a03e7145c76cfe8952ee797f2c4a8a09fd74efc7
HELICONE_API_KEY=
UPSTASH_REDIS_REST_URL="https://regular-scorpion-12114.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AS9SAAIjcDFhMGUwZjc2ZDgxNTY0ZTYyYjY0YTdmYTAxNGU0YTBhN3AxMA"